body {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background: #3D3C5F fixed;
  color: #E0FFFB;
}

h1 {
  font-size: 24pt;
  font-weight: normal;
  font-family: 'Cutive Mono', monospace;
}

h3 {
  font-size: 18pt;
  font-weight: normal;
  font-family: 'Cutive Mono', monospace;
}

#content {
  margin-right: 35%;
  margin-left: 35%;
  height: 80%;
  background-color: #3D3C5F;
  padding: 1%;
  top: 0;
}

#content img {
  margin: 5%;
}

nav {
  width: 100%;
  height: 20%;
  bottom: 0;
}

nav ul {
  list-style-type: none;
}


a, a:hover, a:visited {
  text-decoration: none;
  color: inherit;
}

nav ul li {
  display: inline-block;
  font-size: 14pt;
  color: #B6ECE9;
  margin: 5%;
}
