body {
  font-family: 'Inconsolata', monospace;
  text-align: center;
  margin: 0;
  padding: 0;
  background: fixed;
  color: #E0FFFB;
}

h1 {
  font-size: 24pt;
  font-weight: normal;
}

h3 {
  font-size: 18pt;
  font-weight: normal;
}

#content {
  margin-right: 35%;
  margin-left: 35%;
  height: 100%;
  background-color: #3D3C5F;
}

nav ul {
  list-style-type: none;
}


a, a:hover, a:visited {
  text-decoration: none;
  color: inherit;
}

nav ul li {
  display: inline-block;
  font-size: 14pt;
  color: #B6ECE9;
}
